<!DOCTYPE html>
<html>
<head>
	<title>NOTEBOOKAPP</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}">
	<title></title>
</head>
<body>
	{{if response.flash:}}
  	{{=response.flash}}
  	{{pass}}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 form-div">
        <form action="{{=URL('update')}}" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="exampleinputtitle">Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" value="{{=note.title}}">
          </div>

          <div class="form-group">
            <label for="exampleinputtitle">Body</label>
            <textarea type="text" class="form-control" placeholder="body" name="body">{{=note.body}}</textarea>
          </div>

          

          <input type="hidden" name="id" value="{{=note.id}}">
          <input type="hidden" name="notebookid" value="{{=notebookId}}">
          <div>
            <button type="submit">Update Note</button>
          </div>
        </form>
        <br><br>
        <a href="{{=URL('seeNotebooks')}}">See All Notebooks</a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <script src="{{=URL('static','js/jquery.js')}}"></script> 
  <script src="{{=URL('static','js/bootstrap.js')}}"></script>
</body>
</html>