<!DOCTYPE html>
<html>
<head>
	<title>NOTEBOOKAPP</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}">
</head>
<body>
 	{{if response.flash:}}
  	{{=response.flash}}
  	{{pass}}
	<div class="container-fluid">
		<div class="row col1">
			<h1>NOTEBOOKAPP</h1>
		</div>	
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 form-div">
				<form action="" enctype="multipart/form-data" method="post">
					<div class="form-group">
				  		<label for="exampleinputtitle">Title</label>
				  		<input type="text" class="form-control" placeholder="Title" name="title">
				  	</div>
				  	<input type="hidden" name="_formname" value="notebook_update">
				  	<input type="hidden" name="id" value="{{=notebook.id}}">
				  	<div>
				  		<input type="submit" class="btn btn-primary" value="Update Notebook">
					</div>
				</form>
				<a href="{{=URL('seeNotebooks')}}">See All Notebooks</a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script src="{{=URL('static','js/jquery.js')}}"></script>	
	<script src="{{=URL('static','js/bootstrap.js')}}"></script>
</body>
</html>